.notPrintable {
  @media print {
    display: none !important;
  }
}

@media print {
  .card {
    border: none !important;
    box-shadow: none !important;
    border-radius: none;
  }
}

.breakBefore {
  page-break-before: always;
}
